**/.history
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.netlify
/dist/
/jsconfig.json
/node_modules/
/src/node_modules/
/src/node_modules/@sapper/
/src/tmp/
npm-debug.log*
package-lock.json
secret.js
yarn-debug.log*
yarn-error.log*
__sapper__