/dist/
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
**/.history
/jsconfig.json
.netlify
/node_modules/
npm-debug.log*
.routify
/src/node_modules/
/src/tmp/
yarn-debug.log*
yarn-error.log*
