.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.netlify
/__sapper__/
/cypress/screenshots/
/jsconfig.json
/node_modules/
/src/node_modules/
npm-debug.log*
secrets.js
yarn-debug.log*
yarn-error.log*