/*
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----- GLOBAL VARIABLES ----- */

:root {
	/* Global Units */
	--s1: 1px;
	--s2: 2px;
	--s3: 3px;
	--s4: 4px;
	--s5: 5px;
	--s10: calc(var(--s100) * .1);
	--s25: calc(var(--s100) * .25);
	--s33: calc(var(--s100) * .33);
	--s50: calc(var(--s100) * .5);
	--s66: calc(var(--s100) * .66);
	--s75: calc(var(--s100) * .75);
	--s100: 1rem;
	--s110: calc(var(--s100) * 1.1);
	--s125: calc(var(--s100) * 1.25);
	--s150: calc(var(--s100) * 1.5);
	--s175: calc(var(--s100) * 1.75);
	--s200: calc(var(--s100) * 2);
	--s250: calc(var(--s100) * 2.5);
	--s300: calc(var(--s100) * 3);
	--s400: calc(var(--s100) * 4);
	--s500: calc(var(--s100) * 5);
	--s600: calc(var(--s100) * 6);
	--radius: 0;

	/* Global Font */
	--global-font: Arial, Helvetica, sans-serif;
}


/* ----- PAGE ----- */


::-webkit-scrollbar {
	display: none;
}
html,
body {
	background: rgba(15, 30, 15, 1);
	color: lime;
	font-family: var(--global-font);
	font-size: var(--s100);
	scrollbar-width: none;
}
form {
	width: 100%;
}
fieldset {
	border: 1px dotted lime;
	width: 100%;
}

/* ----- TEXT ----- */

h1 {
	font-size: var(--s150);
}
h2 {
	font-size: var(--s125);
}
h3 {
	font-size: var(--s110);
}
p {
	line-height: 1.5;
}
a {
	color: lime;
	text-decoration: none;
}
label {
	display: block;
}
legend {
	margin-left: var(--s150);
}


/* ----- CONTROLS ----- */

button,
input,
select {
	background: rgba(15, 30, 15, 1);
	border: var(--s1) solid lime;
	border-radius: var(--radius);
	color: lime;
	cursor: pointer;
	font-size: var(--s100);
	text-align: center;
}
button:active, button:hover,
input:active, input:hover,
select:active {
	background: lime;
	color: rgba(15, 30, 15, 1);
}
select:hover {
	background: lime;
	border: var(--s1) solid rgba(15, 30, 15, 1);
	color: rgba(15, 30, 15, 1);
}
button:invalid,
input:invalid,
select:invalid {
	color: lime;
	background-color: rgba(15, 30, 15, 1) !important;
	border-color: coral;
}

/* Buttons */
button {
	height: var(--s300);
	padding: var(--s50);
}
.cntr-btn {
	text-align: center;
}
.btn-row {
	display:flex;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
}
.btn-row button {
	width: 20%;
	min-width: 100px;
}

/* Inputs */
input[type="number"] {
	width: 100px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	height: var(--s200);
	min-width: 40%;
}

/* Select */
select {
	height: var(--s200);
}

/* Link Buttons */
.link-btn {
	align-items: center;
	background: rgba(15, 30, 15, 1);
	border-radius: var(--radius);
	border: var(--s1) solid lime;
	display: flex;
	justify-content: center;
	font-size: var(--s125);
	font-weight: bold;
	text-align: center;
}
.link-btn:active,
.link-btn:hover {
	background: lime;
	color: rgba(15, 30, 15, 1);
}


/* ----- LAYOUT ----- */

/* Details */
details {
	border: var(--s1) dotted;
	border-radius: var(--radius);
	margin: var(--s100);
}
details:focus {
	border-radius: var(--radius);
}
summary {
	font-weight: bold;
	justify-content: left;
	padding: var(--s100);
}
summary:hover {
	color: rgba(15, 30, 15, 1);
	background: lime;
}
details > div {
	padding: var(--s100);
	text-align: left;
}

/* Lists */
ul {
	list-style: none;
}
li {
	margin: var(--s50);
}

/* Table */
table {
	table-layout: fixed;
	text-align: left;
	width: 100%;
}
tr {
	align-content: center;
	align-items: start;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: var(--s200);
	min-width: 100%;
}
td {
	border: var(--s1) solid lime;
	flex: 1;
	overflow-wrap: normal;
	padding: var(--s50);
	word-wrap: break-word;
}

/* Section Card */
.section-card {
	border: var(--s1) dotted;
	display: block;
	margin: var(--s100);
	padding: var(--s100);
}
.section-card .stat-label {
	font-weight: bold;
	text-align: center;
	width: 100%;
}

/* Center Card */
.cntr-card {
	border: var(--s3) solid lime;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 50vw;
	max-width: 500px;
	padding: var(--s100);
	position: absolute;
	text-align: center;
	top: 50vh;
	transform: translateY(-60%) translateX(-50%);
	width: 66vw;
}
.cntr-card .card-title {
	margin: var(--s100);
}
.cntr-card a,
.cntr-card button,
.cntr-card input {
	height: var(--s300);
	margin: var(--s150) auto;
	width: 80%;
}

/* Menu Screen */
.menu-btn {
	align-items: center;
	display: flex;
	height: var(--s300);
	justify-content: center;
	margin: auto;
	margin-bottom: var(--s200);
	width: 80%;
}

/* Misc */
.explanation {
	padding: var(--s100);
}
.list {
	margin-top: var(--s100);
}
.remaining {
	text-align: center;;
}