/* ----- GLOBAL VARIABLES ----- */

:root {

	/* Global Units */
	--s10: calc(var(--s100) * .1);
	--s15: calc(var(--s100) * .15);
	--s20: calc(var(--s100) * .2);
	--s25: calc(var(--s100) * .25);
	--s33: calc(var(--s100) * .33);
	--s50: calc(var(--s100) * .5);
	--s66: calc(var(--s100) * .66);
	--s75: calc(var(--s100) * .75);
	--s100: min(5vw, 24px);
	--s110: calc(var(--s100) * 1.1);
	--s125: calc(var(--s100) * 1.25);
	--s150: calc(var(--s100) * 1.5);
	--s175: calc(var(--s100) * 1.75);
	--s200: calc(var(--s100) * 2);
	--s225: calc(var(--s100) * 2.25);
	--s250: calc(var(--s100) * 2.5);
	--s300: calc(var(--s100) * 3);
	--s400: calc(var(--s100) * 4);
	--s500: calc(var(--s100) * 5);
	--s600: calc(var(--s100) * 6);
	--s700: calc(var(--s100) * 7);
	--s800: calc(var(--s100) * 8);
	--s900: calc(var(--s100) * 9);
	--s1000: calc(var(--s100) * 10);
	--radius: 0;
	--cell-size: 50px;

	/* Global Colors */
	--crt-red: rgba(127,0,0,0.5);
	--crt-green: rgba(0,127,0,0.5);
	--crt-blue: rgba(0,0,127,0.5);
	--pri-color: rgba(0, 255, 0, .9);
	--pri-color-trans: rgba(0, 255, 0, .5);
	--pri-box-shadow: 0 0 var(--std-margin) calc(var(--std-margin)/2) var(--pri-color-trans);
	--sec-color: rgba(15, 30, 15, .85);
	--sec-color-trans: rgba(15, 25, 15, .5);
	--ter-color: rgba(220, 20, 60, .85);
	--ter-color-semi: rgba(220, 20, 60, .5);
	--ter-color-trans: rgba(220, 20, 60, .15);
	--ter-box-shadow: 0 0 var(--std-margin) calc(var(--std-margin)/2) var(--ter-color-semi);
	--screen-background: #121;

	/* Global Layout */
	--square: var(--s300);
	--std-border-width: 1px;
	--std-input-size: var(--s200);
	--std-margin: var(--s75);
	--std-padding: var(--s75);
	--max-width: 800px;

}

@font-face {
	font-family: TTY;
	src: url('./fonts/TTY.ttf');
}


/* ----- GLOBAL RESETS ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
	font-family: TTY;
}
*:focus {
	outline-color: var(--pri-color);
	outline-style: double;
	outline-width: 5px;
	z-index: 3;
}


/* ----- PAGE ----- */

html {
	background-color: var(--screen-background);
}
html,
body,
#apocalyptia-online,
.screen,
.projection,
.lines,
.console,
.program,
main {
	bottom: 0;
	font-family: TTY;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	scrollbar-width: none;
	top: 0;
}
body {
	color: var(--pri-color);
	font-size: var(--s100);
	height: 100%;
}
.screen {
	background: radial-gradient(#222 40%, #191919 70%, #111 85%, #000 100%);
	z-index: 0;
}
.scanline {
	background-color: transparent;
	overflow-y: auto;
	z-index: 3000;
}
.scanline:before {
	animation: hline 7s linear infinite;
	background: var(--pri-color-trans);
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 3000;
}
@keyframes hline {
	0%  { top: 0; }
	20% { top: 100vh; }
}
.console {
	background: linear-gradient(var(--pri-color-trans) 0%, var(--sec-color-trans) 20%);
	background-repeat: repeat-y;
	background-size: 100% 3px;
	z-index: 4;
}
.program {
	animation: wobble 30s linear infinite;
	z-index: 5;
}
@keyframes wobble {
	0.0% { transform: skew(25deg); }
	0.1% { transform: skew(0deg); }
	0.2% { transform: skew(-25deg); }
	0.3% { transform: skew(0deg); }
}
header {
	height: var(--square);
}
main {
	z-index: 6;
}
.page-body {
	align-content: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 0;
	overflow: scroll;
	padding: var(--std-padding);
	padding-bottom: calc(var(--square) + var(--std-padding));
	position: absolute;
	right: 0;
	top: var(--square);
}
.page-body > * {
	margin: 0 auto;
	width: 100%;
	max-width: var(--max-width);
}
form {
	width: 100%;
}
fieldset {
	border: var(--std-border-width) dotted var(--pri-color);
	min-width: 100%;
	padding: var(--std-padding);
	width: 100%;
}
.flex-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
hr {
	border: 1px dotted var(--pri-color-trans);
	margin: 0;
}
::-webkit-scrollbar {
	display: none;
}

/* Section Card */
.section-card {
	border: var(--std-border-width) dotted var(--pri-color);
	display: block;
	margin-bottom: var(--std-margin);
	margin-top: var(--std-margin);
	padding: var(--std-padding);
}
.section-card .stat-label {
	font-weight: bold;
	text-align: center;
	width: 100%;
}


/* ----- TEXT ----- */

h1 {
	font-size: var(--s150);
}
h2 {
	font-size: var(--s125);
}
h3 {
	font-size: var(--s110);
}
h4 {
	display: inline;
}
label {
	display: block;
}
legend {
	margin-left: var(--s150);
}
p {
	line-height: 1.5;
}
.error {
	color: var(--ter-color);
	text-shadow: 0 0 5px var(--ter-color-trans);
}
.explanation {
	margin: var(--std-margin);
}
.remaining {
	text-align: center;;
}

/* Lists */
ul {
	list-style-type: square;
	padding-left: var(--std-padding);
}
li {
	margin: var(--s50);
}
.list {
	margin-top: var(--std-margin);
}

/* Table */
table {
	table-layout: fixed;
	text-align: left;
	width: 100%;
}
tr {
	align-content: center;
	align-items: start;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: var(--std-input-size);
	min-width: 100%;
}
td,
th {
	border: var(--std-border-width) solid var(--pri-color);
	padding: var(--s50);
}


/* ----- CONTROLS ----- */

/* Anchor */
a {
	background-color: var(--sec-color-trans);
	color: var(--pri-color);
	text-decoration: none;
}
a:hover {
	box-shadow: var(--pri-box-shadow);
}
a:active,
a:hover {
	animation: haze 1s infinite;
	color: var(--sec-color);
	font-weight: bold;
	background-size: 100% 2px, 3px 100%;
	z-index: 12000;
}

/* Buttons */
button {
	background-color: var(--sec-color-trans);
	border: var(--std-border-width) solid var(--pri-color);
	border-radius: var(--radius);
	color: var(--pri-color);
	cursor: pointer;
	font-family: TTY;
	font-size: var(--s100);
	font-weight: bold;
	height: var(--std-input-size);
	padding-left: 1ch;
	padding-right: 1ch;
	text-align: center;
}
button:active,
button:hover {
	animation: haze 1s infinite;
	background-color: var(--pri-color-trans);
	border: 1px solid var(--pri-color);
	color: var(--sec-color);
	font-weight: bold;
	background-size: 100% 2px, 3px 100%;
	z-index: 12000;
}
button:hover {
	box-shadow: var(--pri-box-shadow);
}
button:disabled {
	background-color: var(--ter-color-trans);
	border: var(--std-border-width) solid var(--ter-color);
	color: var(--ter-color);
}
button:disabled:hover {
	background-color: var(--ter-color-semi);
	border-color: var(--ter-color);
	box-shadow: var(--ter-box-shadow);
	color: var(--sec-color);
}
button:invalid {
	-webkit-text-fill-color: var(--ter-color);
	border-color: var(--ter-color);
	color: var(--ter-color);
	font-weight: bold;
}
.btn-box {
	align-items: center;
	border: var(--std-border-width) solid var(--pri-color);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	text-align: center;
}
.btn-icon {
	font-size: var(--s150);
}
.btn-row {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.cntr-btn {
	text-align: center;
}
.crimson-btn {
	align-items: center;
	background-color: var(--ter-color-trans);
	border-radius: var(--radius);
	border-color: var(--ter-color);
	color: var(--ter-color);
	display: flex;
	font-size: var(--s125);
	font-weight: bold;
	justify-content: center;
	text-align: center;
}
.crimson-btn:focus {	
	outline-color: var(--ter-color);
}
.crimson-btn:active,
.crimson-btn:hover {
	background-color: var(--ter-color-semi);
	border-color: var(--ter-color);
	box-shadow: var(--ter-box-shadow);
	color: var(--sec-color);
}
.link-btn {
	align-items: center;
	border-radius: var(--radius);
	border: var(--std-border-width) double var(--pri-color);
	display: flex;
	font-size: var(--s125);
	font-weight: bold;
	height: var(--square);
	justify-content: center;
	text-align: center;
}
.link-btn:active,
.link-btn:hover {
	background-color: var(--pri-color-trans);
	color: var(--sec-color);
}
.link-btn:hover {
	font-weight: bold;
}
.small-cntr-btn {
	min-width: 30%;
}
.wide-cntr-btn {
	flex-grow: 2;
}
.square-btn {
	height: var(--square);
	max-height: var(--square);
	max-width: var(--square);
	min-height: var(--square);
	min-width: var(--square);
	width: var(--square);
}
.manual-btn {
	margin-bottom: var(--std-margin);
}

/* Details */
details {
	border: var(--std-border-width) solid var(--pri-color);
	border-radius: var(--radius);
}
summary {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-weight: bold;
	height: var(--square);
	justify-content: left;
	padding-left: var(--s100);
}
summary:active,
summary:hover {
	animation: haze 1s infinite;
	background-color: var(--pri-color-trans);
	box-shadow: var(--pri-box-shadow);
	color: var(--sec-color);
}		
summary::-webkit-details-marker {
	display: none;
}

/* Inputs */
input {
	background-color: var(--pri-color-trans);
	border-radius: var(--radius);
	border: var(--std-border-width) solid var(--pri-color);
	color: var(--sec-color);
	cursor: pointer;
	font-family: TTY;
	font-size: var(--s100);
	font-weight: bold;
	height: var(--std-input-size);
	text-align: center;
}
input:disabled {
	border-color: var(--sec-color);
	color: var(--sec-color);
}
input[type="number"] {
	-moz-appearance: textfield;
	width: 100px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	min-width: 40%;
}
input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover {
	color: var(--pri-color-trans);
	background-color: var(--sec-color-trans);
}
::-webkit-input-placeholder {
	color: var(--sec-color-trans);
	font-family: TTY;
}

/* Select */
select {
	background-color: var(--sec-color-trans);
	border: var(--std-border-width) solid var(--pri-color);
	border-radius: var(--radius);
	color: var(--pri-color);
	cursor: pointer;
	font-size: var(--s100);
	font-weight: 200;
	height: var(--std-input-size);
	min-width: 4ch;
	text-align: center;
}
select:active,
select:hover {
	background-color: var(--pri-color-trans);
	color: var(--sec-color);
}
select:disabled {
	border-color: var(--ter-color);
	color: var(--ter-color);
}
select:invalid {
	border-color: var(--ter-color);
	color: var(--ter-color);
	font-weight: bold;
	-webkit-text-fill-color: var(--ter-color);
}

/* Text Area */
textarea {
	background-color: transparent;
	border: var(--std-border-width) solid var(--pri-color);
	border-radius: var(--radius);
	color: var(--pri-color);
	cursor: pointer;
	font-size: var(--s100);
	text-align: center;
}
textarea:active,
textarea:hover {
	background-color: var(--pri-color-trans);
	color: var(--sec-color);
}
textarea:disabled {
	border-color: var(--sec-color);
	color: var(--sec-color);
}
textarea:invalid {
	border-color: var(--ter-color);
	color: var(--ter-color);
	font-weight: bold;
	-webkit-text-fill-color: var(--ter-color);
}


/* ----- CHARACTER SHEETS ----- */

.sheet-card {
	border: var(--std-border-width) dotted var(--pri-color);
	display: block;
	margin: var(--std-margin);
	padding: var(--std-padding);
}
.sheet-details {
	margin-bottom: var(--std-margin);
}
.sheet-card-title {
	font-weight: bold;
	font-size: var(--s110);
}
.sheet-card-item {
	margin: var(--std-margin);
}
.sheet-card-table {
	display: block;
}
.sheet-card-table-header,
.sheet-card-table-row {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
	margin: var(--std-margin);
}
.sheet-card-table-header {
	font-weight: bold;
	text-decoration: underline;
}
.sheet-item-long-column {
	flex: 3;
	text-align: left;
}
.sheet-item-short-column {
	flex: 1;
	text-align: center;
}
.add-section {
	padding-top: 0;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
	.sheet-card-body {
		display: block;
	}
}
/* DESKTOP
@media only screen and (min-width: 600px) {
	.sheet-card-body {
		display: flex;
		justify-content: space-evenly;
	}
} */


/* Animations */
@keyframes haze {
	0% { text-shadow: 0.44px 0 1px var(--crt-blue), -0.44px 0 1px var(--crt-red), 0 0 3px; }
	5% { text-shadow: 2.79px 0 1px var(--crt-blue), -2.79px 0 1px var(--crt-red), 0 0 3px; }
	10% { text-shadow: 0.03px 0 1px var(--crt-blue), -0.03px 0 1px var(--crt-red), 0 0 3px; }
	15% { text-shadow: 0.41px 0 1px var(--crt-blue), -0.41px 0 1px var(--crt-red), 0 0 3px; }
	20% { text-shadow: 3.48px 0 1px var(--crt-blue), -3.48px 0 1px var(--crt-red), 0 0 3px; }
	25% { text-shadow: 1.61px 0 1px var(--crt-blue), -1.61px 0 1px var(--crt-red), 0 0 3px; }
	30% { text-shadow: 0.71px 0 1px var(--crt-blue), -0.71px 0 1px var(--crt-red), 0 0 3px; }
	35% { text-shadow: 3.89px 0 1px var(--crt-blue), -3.89px 0 1px var(--crt-red), 0 0 3px; }
	40% { text-shadow: 3.87px 0 1px var(--crt-blue), -3.87px 0 1px var(--crt-red), 0 0 3px; }
	45% { text-shadow: 2.23px 0 1px var(--crt-blue), -2.23px 0 1px var(--crt-red), 0 0 3px; }
	50% { text-shadow: 0.08px 0 1px var(--crt-blue), -0.08px 0 1px var(--crt-red), 0 0 3px; }
	55% { text-shadow: 2.38px 0 1px var(--crt-blue), -2.38px 0 1px var(--crt-red), 0 0 3px; }
	60% { text-shadow: 2.21px 0 1px var(--crt-blue), -2.21px 0 1px var(--crt-red), 0 0 3px; }
	65% { text-shadow: 2.86px 0 1px var(--crt-blue), -2.86px 0 1px var(--crt-red), 0 0 3px; }
	70% { text-shadow: 0.49px 0 1px var(--crt-blue), -0.49px 0 1px var(--crt-red), 0 0 3px; }
	75% { text-shadow: 1.89px 0 1px var(--crt-blue), -1.89px 0 1px var(--crt-red), 0 0 3px; }
	80% { text-shadow: 0.08px 0 1px var(--crt-blue), -0.08px 0 1px var(--crt-red), 0 0 3px; }
	85% { text-shadow: 0.09px 0 1px var(--crt-blue), -0.09px 0 1px var(--crt-red), 0 0 3px; }
	90% { text-shadow: 3.44px 0 1px var(--crt-blue), -3.44px 0 1px var(--crt-red), 0 0 3px; }
	95% { text-shadow: 2.18px 0 1px var(--crt-blue), -2.18px 0 1px var(--crt-red), 0 0 3px; }
	100% { text-shadow: 2.62px 0 1px var(--crt-blue), -2.62px 0 1px var(--crt-red), 0 0 3px; }
}