/* ----- GLOBAL VARIABLES ----- */

:root {

	/* Global Units */
	--s1: 1px;
	--s2: 2px;
	--s3: 3px;
	--s4: 4px;
	--s5: 5px;
	--s10: calc(var(--s100) * .1);
	--s15: calc(var(--s100) * .15);
	--s20: calc(var(--s100) * .2);
	--s25: calc(var(--s100) * .25);
	--s33: calc(var(--s100) * .33);
	--s50: calc(var(--s100) * .5);
	--s66: calc(var(--s100) * .66);
	--s75: calc(var(--s100) * .75);
	--s100: 2.75vh;
	--s110: calc(var(--s100) * 1.1);
	--s125: calc(var(--s100) * 1.25);
	--s150: calc(var(--s100) * 1.5);
	--s175: calc(var(--s100) * 1.75);
	--s200: calc(var(--s100) * 2);
	--s225: calc(var(--s100) * 2.25);
	--s250: calc(var(--s100) * 2.5);
	--s300: calc(var(--s100) * 3);
	--s400: calc(var(--s100) * 4);
	--s500: calc(var(--s100) * 5);
	--s600: calc(var(--s100) * 6);
	--s700: calc(var(--s100) * 7);
	--s800: calc(var(--s100) * 8);
	--s900: calc(var(--s100) * 9);
	--s1000: calc(var(--s100) * 10);
	--radius: 0;

	/* Global Colors */
	--crt-red: rgba(127,0,0,0.5);
	--crt-green: rgba(0,127,0,0.5);
	--crt-blue: rgba(0,0,127,0.5);
	--rgb-background: linear-gradient(rgba(18, 16, 16, 0) 100%, rgba(0, 0, 0, 0.25) 100%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	--pri-color: rgba(0, 255, 0, .9);
	--pri-color-trans: rgba(0, 255, 0, .5);
	--pri-box-shadow: 0 0 var(--std-margin) calc(var(--std-margin)/2) var(--pri-color-trans);
	--sec-color: rgba(15, 30, 15, .85);
	--sec-color-trans: rgba(15, 30, 15, .5);
	--ter-color: rgba(220, 20, 60, .85);
	--ter-color-semi: rgba(220, 20, 60, .5);
	--ter-color-trans: rgba(220, 20, 60, .15);
	--ter-box-shadow: 0 0 var(--std-margin) calc(var(--std-margin)/2) var(--ter-color-semi);

	/* Global Layout */
	--square: var(--s300);
	--std-border: 1px;
	--std-input-height: var(--s200);
	--std-margin: var(--s100);
	--std-padding: var(--s100);
	--max-width: 800px;

}

@font-face {
	font-family: TTY;
	src: url('./TTY.ttf');
}


/* ----- GLOBAL RESETS ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
	font-family: TTY;
}
*:focus {
	outline-color: var(--pri-color);
	outline-style: double;
	outline-width: 3px;
	z-index: 3;
}


/* ----- PAGE ----- */

html {
	background-color: #333;
}
html,
#apocalyptia-online,
.screen,
.projection,
.lines,
.console,
.program,
main {
	bottom: 0;
	font-family: TTY;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	scrollbar-width: none;
	top: 0;
}
body {
	background-color: var(--sec-color-trans);
	color: var(--pri-color);
	font-size: var(--s100);
	height: 100%;
}
.page-body {
	align-content: center;
	display: flex;
	flex-direction: column;
	left: 0;
	overflow: scroll;
	padding: var(--std-padding);
	position: absolute;
	right: 0;
	top: var(--square);
}
.page-body > * {
	margin: 0 auto;
	width: 100%;
	max-width: var(--max-width);
}
form {
	width: 100%;
}
fieldset {
	border: var(--std-border) dotted var(--pri-color);
	width: 100%;
}
.flex-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
::-webkit-scrollbar {
	display: none;
}

/* Section Card */
.section-card {
	border: var(--std-border) dotted var(--pri-color);
	display: block;
	margin-bottom: var(--std-margin);
	margin-top: var(--std-margin);
	padding: var(--std-padding);
}
.section-card .stat-label {
	font-weight: bold;
	text-align: center;
	width: 100%;
}

/* Center Card */
.cntr-card {
	align-items: center;
	border: calc(var(--std-border) * 2) solid var(--pri-color);
	box-shadow: var(--s50) var(--s50) 2px var(--sec-color-trans);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 50vw;
	max-width: 800px;
	padding: var(--std-padding);
	position: absolute;
	text-align: center;
	top: 50vh;
	transform: translate(-50%, -50%);
	width: 70vw;
}
.cntr-card a {
	margin: var(--std-margin);
}


/* ----- TEXT ----- */

h1 {
	font-size: var(--s150);
}
h2 {
	font-size: var(--s125);
}
h3 {
	font-size: var(--s110);
}
label {
	display: block;
}
legend {
	margin-left: var(--s150);
}
p {
	line-height: 1.5;
}
.error {
	color: var(--ter-color);
}
.explanation {
	margin: var(--std-margin);
}
.remaining {
	text-align: center;;
}

/* Lists */
ul {
	list-style: none;
}
li {
	margin: var(--s50);
}
.list {
	margin-top: var(--std-margin);
}

/* Table */
table {
	table-layout: fixed;
	text-align: left;
	width: 100%;
}
tr {
	align-content: center;
	align-items: start;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: var(--std-input-height);
	min-width: 100%;
}
td,
th {
	border: var(--std-border) solid var(--pri-color);
	flex: 1;
	overflow-wrap: normal;
	padding: var(--s50);
	word-wrap: break-word;
}


/* ----- CONTROLS ----- */

/* Anchor */
a {
	color: var(--pri-color);
	text-decoration: none;
}
a:hover,
a:focus {
	box-shadow: var(--pri-box-shadow);
}

/* Buttons */
button {
	background-color: var(--sec-color-trans);
	border: var(--std-border) solid var(--pri-color);
	border-radius: var(--radius);
	color: var(--pri-color);
	cursor: pointer;
	font-family: TTY;
	font-size: var(--s100);
	font-weight: bold;
	height: var(--std-input-height);
	text-align: center;
}
button:active,
button:focus,
button:hover {
	animation: haze 1s infinite;
	background-color: var(--pri-color-trans);
	color: var(--sec-color);
	font-weight: bold;
	background-size: 100% 2px, 3px 100%;
	z-index: 12000;
}
button:disabled {
	border-color: var(--sec-color-trans);
	color: var(--sec-color-trans);
}
button:focus,
button:hover {
	box-shadow: var(--pri-box-shadow);
}
button:invalid {
	border-color: var(--ter-color);
	color: var(--ter-color);
	font-weight: bold;
	-webkit-text-fill-color: var(--ter-color);
}
.btn-box {
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}
.btn-icon {
	font-size: var(--s150);
}
.btn-row {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.cntr-btn {
	text-align: center;
}
.crimson-btn {
	align-items: center;
	background-color: var(--ter-color-trans);
	border-radius: var(--radius);
	border: var(--std-border) solid var(--ter-color);
	color: var(--ter-color);
	display: flex;
	font-size: var(--s125);
	font-weight: bold;
	justify-content: center;
	text-align: center;
}
.crimson-btn:active,
.crimson-btn:focus,
.crimson-btn:hover {
	background-color: var(--ter-color-semi);
	box-shadow: var(--ter-box-shadow);
	color: var(--sec-color);
}
.crimson-btn:active,
.crimson-btn:focus {
	outline: 3px double var(--ter-color-trans);
}
.link-btn {
	align-items: center;
	border-radius: var(--radius);
	border: var(--std-border) solid var(--pri-color);
	display: flex;
	font-size: var(--s125);
	font-weight: bold;
	height: var(--square);
	justify-content: center;
	text-align: center;
}
.link-btn:active,
.link-btn:focus,
.link-btn:hover {
	background-color: var(--pri-color-trans);
	color: var(--sec-color);
}
.link-btn:hover {
	font-weight: bold;
}
.cntr-card .link-btn {
	width: 100%;
}
.small-cntr-btn {
	min-width: 30%;
}
.wide-cntr-btn {
	flex-grow: 2;
}

/* Details */
details {
	border: var(--std-border) solid var(--pri-color);
	border-radius: var(--radius);
}
summary {
	align-items: center;
	display: flex;
	font-weight: bold;
	height: var(--square);
	justify-content: left;
	padding-left: var(--s100);
}
summary:active,
summary:hover {
	background-color: var(--pri-color-trans);
	box-shadow: var(--pri-box-shadow);
	color: var(--sec-color);
}
summary::-webkit-details-marker {
	display: none;
}

/* Inputs */
input {
	background-color: var(--pri-color-trans);
	border-radius: var(--radius);
	border: var(--std-border) solid var(--pri-color);
	color: var(--sec-color);
	cursor: pointer;
	font-family: TTY;
	font-size: var(--s100);
	font-weight: bold;
	height: var(--std-input-height);
	text-align: center;
}
input:disabled {
	border-color: var(--sec-color);
	color: var(--sec-color);
}
input:focus,
input:hover {
	box-shadow: var(--pri-box-shadow);
}
input[type="number"] {
	width: 100px;
	-moz-appearance: textfield;
}
::webkit-
input[type="number"]:active {
	color: var(--sec-color);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	min-width: 40%;
}
input[type="text"]:hover,
input[type="number"]:hover {
	color: var(--pri-color-trans);
	background-color: var(--sec-color-trans);
}
::-webkit-input-placeholder {
	color: var(--sec-color-trans);
	font-family: TTY;
}

/* Select */
select {
	background-color: var(--sec-color-trans);
	border: var(--std-border) solid var(--pri-color);
	border-radius: var(--radius);
	color: var(--pri-color);
	cursor: pointer;
	font-size: var(--s100);
	font-weight: 200;
	height: var(--std-input-height);
	min-width: 4ch;
	text-align: center;
}
select:active,
select:focus,
select:hover {
	background-color: var(--pri-color-trans);
	border-color: var(--pri-color);
	box-shadow: var(--pri-box-shadow);
	color: var(--sec-color);
}
select:disabled {
	border-color: var(--sec-color);
	color: var(--sec-color);
}
select:invalid {
	border-color: var(--ter-color);
	color: var(--ter-color);
	font-weight: bold;
	-webkit-text-fill-color: var(--ter-color);
}

/* Text Area */
textarea {
	background-color: transparent;
	border: var(--std-border) solid var(--pri-color);
	border-radius: var(--radius);
	color: var(--pri-color);
	cursor: pointer;
	font-size: var(--s100);
	text-align: center;
}
textarea:active,
textarea:focus,
textarea:hover {
	background-color: var(--pri-color-trans);
	box-shadow: var(--pri-box-shadow);
	color: var(--sec-color);
}
textarea:disabled {
	border-color: var(--sec-color);
	color: var(--sec-color);
}
textarea:invalid {
	border-color: var(--ter-color);
	color: var(--ter-color);
	font-weight: bold;
	-webkit-text-fill-color: var(--ter-color);
}


/* ----- CHARACTER SHEETS ----- */

.sheet-card {
	border: 1px dotted;
	display: block;
	margin: var(--std-margin);
	padding: var(--std-padding);
}
.sheet-details {
	margin-bottom: var(--std-margin);
}
.sheet-card-title {
	font-weight: bold;
	font-size: var(--s110);
}
.sheet-card-item {
	margin: var(--std-margin);
}
.sheet-card-table {
	display: block;
}
.sheet-card-table-header,
.sheet-card-table-row {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
	margin: var(--std-margin);
}
.sheet-card-table-header {
	font-weight: bold;
	text-decoration: underline;
}
.sheet-item-long-column {
	flex: 3;
	text-align: left;
}
.sheet-item-short-column {
	flex: 1;
	text-align: center;
}
.add-section {
	padding-top: 0;
}
/* TINY */
@media only screen and (max-width: 400px) {
	.sheet-card-body {
		display: block;
	}
}
/* MOBILE */
@media only screen and (min-width: 400px) and (max-width: 640px) {
	.sheet-card-body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-evenly;
	}
}
/* DESKTOP */
@media only screen and (min-width: 640px) {
	.sheet-card-body {
		display: flex;
		justify-content: space-evenly;
	}
}


/* Animations */
@keyframes haze {
	0% { text-shadow: 0.44px 0 1px var(--crt-blue), -0.44px 0 1px var(--crt-red), 0 0 3px; }
	5% { text-shadow: 2.79px 0 1px var(--crt-blue), -2.79px 0 1px var(--crt-red), 0 0 3px; }
	10% { text-shadow: 0.03px 0 1px var(--crt-blue), -0.03px 0 1px var(--crt-red), 0 0 3px; }
	15% { text-shadow: 0.41px 0 1px var(--crt-blue), -0.41px 0 1px var(--crt-red), 0 0 3px; }
	20% { text-shadow: 3.48px 0 1px var(--crt-blue), -3.48px 0 1px var(--crt-red), 0 0 3px; }
	25% { text-shadow: 1.61px 0 1px var(--crt-blue), -1.61px 0 1px var(--crt-red), 0 0 3px; }
	30% { text-shadow: 0.71px 0 1px var(--crt-blue), -0.71px 0 1px var(--crt-red), 0 0 3px; }
	35% { text-shadow: 3.89px 0 1px var(--crt-blue), -3.89px 0 1px var(--crt-red), 0 0 3px; }
	40% { text-shadow: 3.87px 0 1px var(--crt-blue), -3.87px 0 1px var(--crt-red), 0 0 3px; }
	45% { text-shadow: 2.23px 0 1px var(--crt-blue), -2.23px 0 1px var(--crt-red), 0 0 3px; }
	50% { text-shadow: 0.08px 0 1px var(--crt-blue), -0.08px 0 1px var(--crt-red), 0 0 3px; }
	55% { text-shadow: 2.38px 0 1px var(--crt-blue), -2.38px 0 1px var(--crt-red), 0 0 3px; }
	60% { text-shadow: 2.21px 0 1px var(--crt-blue), -2.21px 0 1px var(--crt-red), 0 0 3px; }
	65% { text-shadow: 2.86px 0 1px var(--crt-blue), -2.86px 0 1px var(--crt-red), 0 0 3px; }
	70% { text-shadow: 0.49px 0 1px var(--crt-blue), -0.49px 0 1px var(--crt-red), 0 0 3px; }
	75% { text-shadow: 1.89px 0 1px var(--crt-blue), -1.89px 0 1px var(--crt-red), 0 0 3px; }
	80% { text-shadow: 0.08px 0 1px var(--crt-blue), -0.08px 0 1px var(--crt-red), 0 0 3px; }
	85% { text-shadow: 0.09px 0 1px var(--crt-blue), -0.09px 0 1px var(--crt-red), 0 0 3px; }
	90% { text-shadow: 3.44px 0 1px var(--crt-blue), -3.44px 0 1px var(--crt-red), 0 0 3px; }
	95% { text-shadow: 2.18px 0 1px var(--crt-blue), -2.18px 0 1px var(--crt-red), 0 0 3px; }
	100% { text-shadow: 2.62px 0 1px var(--crt-blue), -2.62px 0 1px var(--crt-red), 0 0 3px; }
}