* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Term";
	src: url("./assets/fonts/Hack.ttf");
}

html, body {
	background: rgb(15, 30, 15);
	color: lime;
	font-family: "Term";
	font-size: 12pt;
	height: 100vh;
	width: 100vw;
}

table {
	border: 2px solid lime;
	border-collapse: collapse;
	margin: 0 auto;
}

table td {
	border: 1px solid lime;
	padding: .5rem;
}

a {
	color: lime;
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	background: rgb(15, 30, 15);
	border-radius: 5px;
	border: 1px solid lime;
	color: lime;
	font-family: "Term";
	font-size: inherit;
	text-align: center;
}

button:active {
	background: lime;
	color: rgb(15, 30, 15);
}

input[type="number"] {
	width: 100px;
}

input[type="text"] {
	min-width: 40%;
}

button {
	cursor: pointer;
}

.step-title {
	display: flex;
	margin-bottom: 1rem;
}

.stat-block {
	align-items: center;
	border-style: dotted;
	border-width: 2px;
	display: flex;
	justify-content: space-between;
	margin: .5rem;
	padding: 1rem;
}

.half-stat-block {
	display: inline;
}

.half-input {
	width: 60px;
}

.three-column {
	text-align: center;
	width: 33.3%;
}

.slider-input {
	color: transparent;
	-webkit-appearance: none;
	width: 90%;
}
.slider-input::-webkit-slider-thumb {
	-webkit-appearance: none;
}
.slider-input::focus {
	outline: none;
}
.slider-input::-ms-track {
	background: transparent;
	border-color: transparent;
	color: transparent;
}
.slider-input::-moz-range-thumb {
	background: lime;
	border-radius: 5px;
	border: 1px solid rgb(15, 30, 15);
	height: 30px;
	width: 30px;
}
.slider-input::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: lime;
	border-radius: 5px;
	border: 1px solid rgb(15, 30, 15);
	height: 30px;
	margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	width: 30px;
}
input:invalid {
	color: black;
	background: red;
}

.display-page {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	height: calc(100vh - 50px);
	text-align: center;
	width: 100vw;
}

.diplay-button {
	height: 10vh;
	margin: 5vh 15vw 0 15vw;
	width: 70vw;
}

.ref-page {
	margin-bottom: 50px;
	padding: 20px;
}
.ref-header {
	font-size: 1.5rem;
	text-align: center;
}
.ref-back {
	bottom: 0;
	height: 50px;
	left: 0;
	position: fixed;
	width: 33.3vw;
}

::-webkit-scrollbar {
	display: none;
}